## Задание 1. Первичный анализ данных

### Вывести на экран первые 5 строк. Посмотреть на описание признаков и на их содержание

In [1]:
import pandas as pd

In [55]:
df= pd.read_csv('kc_house_data.csv', encoding = 'cp1251', sep=',')

In [56]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [5]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [6]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

## Задача 2. Первичный анализ и статистика данных

### Проведите первичный анализ данных. Изучите типы данных. Найдите количество пропущенных ячеек в данных. Посчитайте основные статистики по всем признакам и поизучайте их. Пишите выводы

In [7]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [21]:
print("Диапазон цен:", df['price'].min(), "-", df['price'].max())

Диапазон цен: 75000.0 - 7700000.0

In [22]:
print("Диапазон жилой площади:", df['sqft_living'].min(), "-", df['sqft_living'].max())

Диапазон жилой площади: 290 - 13540

In [15]:
df['waterfront'].value_counts()

waterfront
0    21450
1      163
Name: count, dtype: int64

In [16]:
df['view'].value_counts()

view
0    19489
2      963
3      510
1      332
4      319
Name: count, dtype: int64

In [17]:
df['condition'].value_counts()

condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64

In [18]:
df['grade'].value_counts()

grade
7     8981
8     6068
9     2615
6     2038
10    1134
11     399
5      242
12      90
4       29
13      13
3        3
1        1
Name: count, dtype: int64

## Задача 3. Анализ характеристик недвижимости

### 3.1 В каком диапазоне изменяются стоимости недвижимости?

In [20]:
print('Диапазон стоимости недвижимости: ', df['price'].min(), ' - ', df['price'].max())

Диапазон стоимости недвижимости:  75000.0  -  7700000.0

### 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [24]:
df['living_ratio'] = df['sqft_living'] / df['sqft_lot']
print('Средняя доля жилой площади: ', df['living_ratio'].mean())

Средняя доля жилой площади:  0.3237447254204737

### 3.3 Как много домов с разными этажами в данных?

In [25]:
print('Распределение домов по этажам: ', df['floors'].value_counts())

Распределение домов по этажам:  floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

### 3.4 Насколько хорошие состояния у домов в данных?

In [26]:
print('Среднее состояние домов: ', df['condition'].mean())

Среднее состояние домов:  3.4094295100171195

### 3.5 Найдите года, когда построили первый дом, и когда построили последний дом?

In [27]:
print('Года постройки первого и последнего дома: ', df['yr_built'].min(), df['yr_built'].max())

Года постройки первого и последнего дома:  1900 2015

## Задача 4. Дополнительный анализ данных о недвижимости

### 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [31]:
print('Средняя стоимость домов с 2 спальнями: ', df[df['bedrooms'] == 2]['price'].mean())

Средняя стоимость домов с 2 спальнями:  401372.681884058

### 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [33]:
print('Средняя площадь домов со стоимостью более 600 000: ', df[df['price'] > 600000]['sqft_living'].mean())

Средняя площадь домов со стоимостью более 600 000:  2895.47442455243

### 4.3 Как много домов коснулся ремонт?

In [34]:
print('Количество домов с ремонтом: ', df[df['yr_renovated'] > 0].shape[0])

Количество домов с ремонтом:  914

### 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 - отличается от стоимости домов с оценкой grade меньше 4?

In [37]:
grade_higher_10 = df[df['grade'] > 10]['price'].mean()
grade_lower_4 = df[df['grade'] < 4]['price'].mean()
print('Разница в стоимости между домами с высокой и низкой оценкой: ', grade_higher_10 - grade_lower_4)

Разница в стоимости между домами с высокой и низкой оценкой:  1488885.1175298805

## Задача 5. Подбор домов под запросы клиента

### 5.1 Клиент хочет дом с видом на набережную, как минимум с 3 ванными и с подвалом. Сколько вариантов есть у клиента?

In [49]:
client_houses_1 = df[(df['waterfront'] == 1) & (df['bathrooms'] >= 3) & (df['sqft_basement'] > 0)]
print('Количество таких домов: ', client_houses_1.shape[0])

Количество таких домов:  41

### 5.2 Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [51]:
client_houses_2 = df[
    ((df['view'] > 0) | (df['waterfront'] == 1)) &
    (df['condition'] >= 4) &
    (df['yr_built'] >= 1980)
    ]
print('Ценовой диапазон таких домов: ', client_houses_2['price'].min(), ' - ', client_houses_2['price'].max())

Ценовой диапазон таких домов:  308950.0  -  5300000.0

### 5.3 Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [54]:
client_houses_3 = df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] <= 150000)]
print('Средняя оценка состояния таких домов: ', client_houses_3['condition'].mean())

Средняя оценка состояния таких домов:  3.0